@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fw-semi-bold: 600;
  --fw-semi-medium: 500;
  --fw-semi-regular: 400;
  --d_gray: #4d4d4d;
  --l-gray: #89939e;
  --green: #4caf4f;
  --h1: 64px;
  --h2: 36px;
  --h3: 28px;
  --h4: 20px;
  --b1: 18px;
  --b2: 16px;
  --b3: 14px;
  --b4: 12px;
}

body {
  font-family: "Inter", serif;
}

/* header start  */
.navigation a {
  font-size: var(--b2);
  font-weight: var(--fw-semi-regular);
}

.log {
  color: var(--green);
  font-size: var(--b3);
}

.Sign {
  background-color: var(--green);
  border: none;
}
/* header end  */

/* hero area start */
.hero-heading {
  width: 100%;
}

.hero-hl {
  font-size: var(--h1);
  font-weight: var(--fw-semi-bold);
  color: var(--d_gray);
}

.hero-hl span {
  color: var(--green);
}

.hero-heading {
  color: #717171;
}

.hero-btn {
  background-color: var(--green);
  border: none;
}
/* hero area end */

/* client area start */
.client h2 {
  color: var(--d_gray);
  font-weight: var(--fw-semi-bold);
}

.client p {
  color: #717171;
  font-weight: var(--fw-semi-regular);
}
/* client area end */

/* community area start */
.community h2 {
  color: var(--d_gray);
  font-weight: var(--fw-semi-bold);
}

.community p {
  color: #717171;
  font-weight: var(--fw-semi-regular);
}

.community-des {
  padding: 24px 32px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.community-des h4 {
  color: var(--d_gray);
  font-weight: var(--fw-semi-bold);
}
/* community area end */

/* pixelgrade area start */
.pixelgrade h2 {
  color: var(--d_gray);
  font-weight: var(--fw-semi-bold);
}

.pixelgrade p {
  color: #717171;
  font-weight: var(--fw-semi-regular);
}

.pixelgrade-btn {
  background-color: var(--green);
  border: none;
}
/* pixelgrade area end */

/* achievement area start */
.achievement-head h2 {
  color: var(--d_gray);
  font-weight: var(--fw-semi-bold);
}

.achievement-head span {
  color: var(--green);
}

.achievement-head p {
  color: #717171;
  font-weight: var(--fw-semi-regular);
}

.achievement-detail h3 {
  color: var(--d_gray);
}
/* achievement area end */

/* design area start */
.design h2 {
  color: var(--d_gray);
  font-weight: var(--fw-semi-bold);
}

.design p {
  color: #717171;
  font-weight: var(--fw-semi-regular);
}

.design-btn {
  background-color: var(--green);
  border: none;
}
/* design area end */

/* testimonial area start */
.testimonial p {
  color: #717171;
  font-weight: var(--fw-semi-regular);
}

.testimonial h4 {
  color: var(--green);
}

.testimonial .commentor {
  color: var(--l-gray);
}

.customer {
  width: 100%;
  /* gap: 15rem; */
}

.customer-more h5 {
  color: var(--green);
}
/* testimonial area end */

/* marketing area start */
.marketing {
  margin: 50px 70px 140px;
  /* padding-bottom: 50px; */
  position: relative;
}

.marketing h2 {
  color: var(--d_gray);
  font-weight: var(--fw-semi-bold);
}

.marketing p {
  color: #717171;
  font-weight: var(--fw-semi-regular);
  width: 50%;
}

.marketing-card-1 {
  border-radius: 8px;
  position: absolute;
  width: 90%;
  top: 80%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.marketing-card-2 {
  /* border: none; */
  border-radius: 8px;
  position: absolute;
  width: 90%;
  bottom: -44%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.marketing-card-3 {
  border-radius: 8px;
  position: absolute;
  width: 90%;
  bottom: -36%;
  right: -9%;
  transform: translate(-50%, -50%);
}
